.header {
  //display: flex;
  //flex-flow: column wrap;

  &__wrapper {
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;

    @include breakpoint($tablet_resolution) {
      max-width: 768px;
      width: 100%
    }
  }

  &__info-row-top {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0 0 12px 0;

    @include breakpoint($laptop_resolution) {
      justify-content: space-around;
    }

    @include breakpoint($tablet_resolution) {
      padding: 0;
    }

    @include breakpoint(390px 0) {
      justify-content: space-around;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      background: #dddfdf;
      height: 1px;
      top: 99px;
      left: 0;

      @include breakpoint(1240px 0) {
        display: none;
      }

      @include breakpoint($tablet_resolution) {
        width: 95%;
        top: 93px;
        left: 14px;
      }

    }
  }

  &__info-row-bottom {
    position: relative;
    display: flex;
    flex-flow: row wrap;

    @include breakpoint($laptop_resolution) {
      justify-content: space-around;
    }

    @include breakpoint(741px 360px) {
      margin-top: -27px;
    }


    @include breakpoint($tablet_resolution) {
      flex-flow: row-reverse wrap;
    }

    @include breakpoint(390px 0) {
      margin-top: 15px;
      justify-content: space-around;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      background: #dddfdf;
      height: 1px;
      top: 53px;
      left: 0;

      @include breakpoint(1240px 0) {
        display: none;
      }

      @include breakpoint($tablet_resolution) {
        width: 95%;
        top: 78px;
        left: 14px;
      }
    }
  }

  &__navigation {
    //display: flex;
    //flex-flow: row wrap;
    //align-items: flex-start;
    margin: 15px 0 0 21px;

    @include breakpoint($laptop_resolution) {
      margin-left: 5px;
    }


    @include breakpoint($tablet_resolution) {
      order: 3;
      margin: 25px 5% 0 0;
    }

    @include breakpoint(730px 0) {
      margin: 25px 25px 0 25px;
    }
  }

  &__logo {
    margin: 34px 0 0 22px;

    @include breakpoint($tablet_resolution) {
      margin: 24px 0 0 28px;
    }

    @include breakpoint($laptop_resolution) {
      margin-left: 5px;
    }
  }

  &__search {
    margin: 29px 0 0 43px;

    @include breakpoint($tablet_resolution) {
      margin: 23px 0 0 -25px;
    }

    @include breakpoint($laptop_resolution) {
      margin-left: 5px;
    }

    @include breakpoint(470px 0) {
      margin-left: 5px;
    }
  }

  &__contacts {
    margin: 35px 0 0 90px;


    @include breakpoint($tablet_resolution) {
      margin: 21px 0 0 27px;
    }

    @include breakpoint($laptop_resolution) {
      margin-left: 5px;
    }
  }

  &__shedule {
    margin: 35px 0 0 13px;

    @include breakpoint($tablet_resolution) {
      margin: 20px 0 0 13px;
    }

    @include breakpoint($laptop_resolution) {
      margin-left: 5px;
    }
  }

  &__cart {
    margin: 15px 0 0 136px;

    @include breakpoint($laptop_resolution) {
     margin-left: 45px;
    }

    @include breakpoint($tablet_resolution) {
      order: 2;
      margin: 1px 24px 0 0;
    }

    @include breakpoint($tablet_resolution) {
      margin-left: 55%;
    }

    @include breakpoint(390px 0) {
      margin-left: 50px;
    }

  }

  &__enter {
    margin: 16px 0 0 47px;

    @include breakpoint($tablet_resolution) {
      margin-left: 45px;
    }

    @include breakpoint($tablet_resolution) {
      order: 1;
      margin: 1px 31px 0 0;
    }
  }
}

.logo {

  &__tagline {
    color: #747688;
    font: 1.077em 'PT Sans';
    padding: 0;
    margin: 3px 0 0 0px;

    @include breakpoint($tablet_resolution) {
      font: 1em 'PT Sans';
      margin: -1px 0 0 0px;
    }
  }

  &__img {

    @include breakpoint($tablet_resolution) {
      width: 74%;
    }
  }

}

.search {
  width: 496px;

  @include breakpoint($tablet_resolution) {
    width: 221px;
  }

  &__input {
    width: inherit;
    font: 1.077em 'PT Sans';
    color: #b9b8bd;
    border: 1px solid #b9b8bd;
    border-radius: 4px;
    background: url(../img/loupe.png) no-repeat 98.3% 9px;
    padding: 10px 0 10px 9px;

    @include breakpoint($tablet_resolution) {
      padding: 5px 0 5px 9px;
      background-size: 11px;
      background-position: 96.3% 9px;
    }
  }
}

.phone {
  font: 1.77em 'PT Sans';
  color: #181616;

  @include breakpoint($tablet_resolution) {
    font: 1.2em 'PT Sans';
  }
}

.shedule {
  font: 1.077em 'PT Sans';
  &__time {
    padding: 0 0 0 0;
    color: #cb944c;
  }
  &__delivery {
    padding: 2px 0 0 0;
    color: #2b3056;
  }

  @include breakpoint($tablet_resolution) {
    font: 0.8em 'PT Sans';
  }
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;

  &__item {
    font: 1.23em 'PT Sans';
    font-weight: bold;
    color: #181818;
    text-transform: uppercase;
    list-style-type: none;

    @include breakpoint($tablet_resolution) {
      font: 0.97em 'PT Sans';
      font-weight: bold;
    }

    @include breakpoint(730px 0) {
      padding-top: 5px !important;
    }

    &--main {
      position: relative;
      padding: 0 20px 0 28px;
      background: url("../img/menu-icon.png") no-repeat 0% 5px, url("../img/catalog-icon.png") no-repeat 100% 7px;
      max-width: 183px;
      @extend .navigation__item;
    }

    &--regular {
      margin: 0 0 0 22px;
      @extend .navigation__item;

      @include breakpoint($laptop_resolution) {
        margin-left: 15px;
      }

      @include breakpoint($tablet_resolution) {
        margin: 0 0 0 28px;
        font: 0.97em 'PT Sans';
        font-weight: bold;
      }
    }
  }

  &__submenu {
    position: absolute;
    z-index: 10;
    display: none;
    width: 242px;
    border: 1px solid #dddfdf;
    top: 48px;
    left: -12px;
    padding: 14px 0 20px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 1px rgba(108,104,104,.33);
    -moz-box-shadow: 2px 3px 1px rgba(108,104,104,.33);
    box-shadow: 2px 3px 1px rgba(108,104,104,.33);

    @include breakpoint($tablet_resolution) {
      top: 41px;
      left: 1px;
    }

    &-nested {
      top: -11px;
      left: 244px;
      display: block;
    }
  }

  &__subitem {
    position: relative;
    display: flex;
    font: 1.02em 'PT Sans';
    color: #666666;
    list-style-type: none;
    text-transform: initial;
    padding: 3px 0 6px 0;
    letter-spacing: -0.6px;

    @include breakpoint($tablet_resolution) {
      padding: 4px 0 4px 0;
      font-size: 1.3em;
    }


    &--main {
      &:after {
        position: absolute;
        content: '';
        background: url(../img/catalog-icon-right.png) no-repeat;
        width: 8px;
        height: 11px;
        top: 9px;
        right: 14px;
      }
    }

    &:before {
      position: absolute;
      content: '';
      background: url('../img/list-point.png');
      width: 6px;
      height: 6px;
      top: 12px;
      left: 14px;
    }

    &:hover {
      background: #e9e9ea;
    }

    &--nested {
      @extend .navigation__subitem;
      font-size: 1.0em;
      padding: 3px 0 5px 3px;

      &:before {
        top: 11px;
        left: 18px;
      }
    }
  }

  &__subitem-link {
    padding: 0 0 0 30px;
  }

  &__header {
    margin: 2px 0 8px 16px;
    word-spacing: 5px;

    @include breakpoint($tablet_resolution) {
      margin: 4px 0 8px 18px;
    }
  }
}

.navigation-header {
  text-transform: uppercase;
  font: 1em 'PT Sans';
  color: #cb944c;

  @include breakpoint($tablet_resolution) {
    font: 0.9em 'PT Sans';
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 0px;
  }
}

.cart {

  &__link {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    color: #252a54;
    text-transform: uppercase;

    &:before {
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      background: url('../img/cart.png') no-repeat;
      left: -36px;
      top: -1px;

      @include breakpoint($tablet_resolution) {
        left: -21px;
        top: 2px;
        background-size: 15px;
      }

      //@include breakpoint(530px 0) {
      //  display: none;
      //}
    }
  }

  &__number {
    background: #cb944c;
    border-radius: 10px;
    padding: 4px;
    color: white;

    @include breakpoint($tablet_resolution) {
      padding: 4px 3px;
      font-weight: bold;
      font-size: 0.8em;
    }
  }

  &__goods {
    font: 1.08em 'PT Sans';
    font-weight: bold;
    padding: 2px 0 0 8px;

    @include breakpoint($tablet_resolution) {
      font-size: 0.8em;
      padding: 3px 0 0 0;
      margin: 0 0 0 8px;
    }
  }

  &__ammount {
    font: 1.23em 'PT Sans';
    font-weight: bold;
    padding-left: 7px;

    @include breakpoint($tablet_resolution) {
      font-size: 1em;
      padding: 1px 14px 0 4px;
    }
  }

  &__currency {
    padding-left: 6px;
  }
}

.enter {
  position: relative;
  font: 1.23em 'PT Sans';
  text-transform: uppercase;
  font-weight: bold;
  color: #252a54;

  &:before {
    position: absolute;
    content: '';
    background: url('../img/enter.png') no-repeat;
    width: 19px;
    height: 17px;
    top: 1px;
    left: -26px;

    @include breakpoint($tablet_resolution) {
      top: 1px;
      left: -21px;
      background-size: 16px 14px;
    }
  }

  @include breakpoint($tablet_resolution) {
    font-size: 1em;
  }
}