//Breakpoints variables
$laptop_resolution: 1240px 769px;
$tablet_resolution: 769px 321px;
$mobile_resolution: 0 320px;




//body {
//  @media (min-width: 768px) {
//    $slider-height: 100px;
//  }
//}
//
//
//
//$slider-height: 326px;

